spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: fhir_app
    password: ${FHIR_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    properties:
      hibernate:
        dialect: ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgresDialect
